@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Header section */
#header {
    margin: 20px 60px;
    padding-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 2px -2px #464646;
}

.icon{
    width: 50px;
}

.main-nav{
    padding-top: 15px;
}

.main-nav-item li{
    font-size: 14px;
    list-style: none;
    display: inline-block;
}

.main-nav-item li a {
    transition: all 0.5s ease;
}

.main-nav-item li a:hover {
    padding: 4px 10px; 
    background: black;
    color: #fff;
    border-radius: 15px;
    content: none;
}

.main-nav-item a{
    color: black;
    text-decoration: none;
}

.main-nav-item a:active  {
    color: rgb(120, 120, 120);
}

.main-nav-item a::after{
    content: " |";
}

/* main section */
/* welcome section */

.welcome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 348px 0px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 6px 6px 2.5px rgb(239, 239, 239);
}

.welcome-title{
    padding-bottom: 5px;
    font-size: 45px;
}

.jose-david{
    font-size: 35px;
}

/* information section */

.information-section{
    padding: 35px 180px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 245, 245);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    text-align: justify;
}

.information-section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    text-shadow: 6px 4px 2.5px rgb(220, 217, 217);
}

.information-section h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

.information-section p{
    font-size: 17px;
    padding-top: 40px;
}

.information-section ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    padding-top: 22px;
    font-size: 17px;
    font-weight: bold;
}

.information-section img{
    border-radius: 8px;
    width: 300px;
    margin: 80px;
    margin-right: 0px;
}

/* Projects section */

.projects-section{
    font-family: 'Poppins', sans-serif;
    padding: 90px 180px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.projects-section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    text-shadow: 6px 4px 2.5px rgb(239, 239, 239);
}

.projects-section h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

.projects-section ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 200px;
    font-size: 20px;
}

.projects-section a{
    color: black;
    text-decoration: none;
}

.projects-section a:hover {
    color: rgb(180, 180, 180);
}

.projects-section a:active  {
    color: rgb(120, 120, 120);
}

/* contact section */

.contact-section {
    font-family: 'Poppins', sans-serif;
    padding: 90px 180px 0px 180px;
}

.contact-section h2{
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contact-section h2:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

.say-hi a{
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    text-decoration: none;
    background-color: rgba(70, 136, 171, 0.145);
    color: #4688ab;
    width: 130px;
    height: 25px;
    padding: 20px;
    border: 2px solid #4688ab;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.say-hi a:hover {
    background-color: #4688ab;
    color: #fff;
}

.say-hi {
    display: flex;
    justify-content: center;
    margin: 50px 0px 35px 0px;
}

.contact-section p{
    margin: 0px 200px;
    text-align: center;
    font-size: 17px;
}

/* Icons section */

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-bottom: 90px;
    padding-top: 35px;
}

.contact-icons i{
    font-size: 20px;
}

.contact-icons a {
    color: black;
}

.contact-icons a:hover {
    color: rgb(135, 135, 135)
}

/* footer section */

.footer-section{
    font-family: 'Poppins', sans-serif;
    padding: 30px 180px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 550px;
    text-align: center;
    background-color: white;
    margin-bottom: 30px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#formulario h2 {
    color: black;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 50px;
}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgba(70, 136, 171, 0.145);
    border: 2px solid rgba(159, 197, 219, 0.145);
    color: black;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.input-group .input::placeholder, textarea::placeholder {
    color: rgb(154, 154, 154);
}

.button {
    font-size: 16px;
    background-color: #51D94c;
    color: white;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
    padding: 17px 25px;
    margin-top: 15px;
}

.button:hover {
    background-color: #50E04B;
}

/* responsive */

@media (max-width: 768px) {
    #header {
        margin: 20px 48px
    }

    .main-nav-item a {
        font-size: 14px;
    }

    .welcome-section {
        margin: 278px 0px;
        text-shadow: none;
    }
    
    .welcome-title {
        font-size: 32px;
    }
    
    .jose-david {
        font-size: 26px;
        padding: 0px;
    }

    .information-section {
        padding: 40px;
    }
    
    .information-section h2{
        font-size: 27px;
        text-shadow: none;
    }
    
    .information-section p {
        padding-top: 30px;
        font-size: 17px;
    }
    
    .information-section ul {
        font-size: 15px;
    }

    .information-section img {
        width: 285px;
    }
    
    .projects-section {
        padding: 90px 50px;

    }
    
    .projects-section h2 {
        font-size: 27px;
        text-shadow: none;
    }
    
    .projects-section ul {
        font-size: 17px;
    }
/*  */
    .contact-section {
        padding: 0px 50px 0px 50px;
    }
    
    .contact-section p {
        margin: 0;
        font-size: 16px;
    }

    .say-hi a{
        font-size: 13px;
    }
    
    .contact-icons {
        gap: 30px;
    }
    
    .contact-icons i {
        font-size: 22px;
    }

    .footer-section {
        padding: 8px;
        font-size: 16px;
    }

    #formulario {
        margin-top: 10px;
    }

    .input {
        padding: 15px;
    }

    #formulario h2 {
        padding-bottom: 20px; 
    }

    .button {
        padding: 15px 20px;
    }
}

@media (max-width: 576px) {
    #header {
        flex-direction: column;
        align-items: center;
        margin: 10px 24px;
    }

    .main-nav-item a {
        font-size: 14px;
    }

    .welcome-section {
        margin: 272px 0px;
        text-shadow: none;
    }
    
    .welcome-title {
        font-size: 24px;
        display: flex;
    }

    .jose-david {
        font-size: 22px;
        padding: 0px;
    }

    .information-section {
        padding: 35px 25px;
        flex-direction: column;
    }

    .information-section h2 {
        font-size: 27px;
        text-shadow: none;
    }

    .information-section p {
        padding-top: 30px;
        font-size: 17px;
    }

    .information-section ul {
        flex-direction: column;
        padding-top: 30px;
        font-size: 15px;
    }

    .information-section img {
        width: 240px;
        margin: 50px 0px 0px 0px;
    }

    .projects-section {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 50px 25px;
    }

    .projects-section h2 {
        font-size: 27px;
        text-shadow: none;
    }

    .projects-section ul {
        flex-direction: column;
        font-size: 16px;
    }

    .contact-section {
        padding: 50px 25px;
    }

    .say-hi a{
        font-size: 13px;
    }

    .contact-icons {
        margin-bottom: 30px;
        padding: 0px;
    }

    .contact-icons i {
        font-size: 22px;
    }

    .footer-section {
        padding: 8px;
        font-size: 16px;
    }

    #formulario {
        padding: 50px 30px;
        width: 90%;
        margin-top: 10px;
    }

    #formulario h2 {
        font-size: 24px;
    }

    .input {
        padding: 15px;
    }
}